<a href="https://colab.research.google.com/github/jforfab/Estudio/blob/main/estadistica_muestreo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import math as m
import numpy as np

In [2]:
Universo=[4, 7, 5, 6, 3, 5, 3, 0, 10, 5, 0, 4, 6, 5, 4, 5, 6,3, 10, 2, 6, 7, 4, 10, 5, 0, 5, 7, 6, 10, 7, 6, 4, 0, 7, 3, 5, 6, 5, 4]

In [4]:
print(Universo)
type(Universo)

[4, 7, 5, 6, 3, 5, 3, 0, 10, 5, 0, 4, 6, 5, 4, 5, 6, 3, 10, 2, 6, 7, 4, 10, 5, 0, 5, 7, 6, 10, 7, 6, 4, 0, 7, 3, 5, 6, 5, 4]

list

In [7]:
uni=np.array(Universo)
uni

array([ 4,  7,  5,  6,  3,  5,  3,  0, 10,  5,  0,  4,  6,  5,  4,  5,  6,
        3, 10,  2,  6,  7,  4, 10,  5,  0,  5,  7,  6, 10,  7,  6,  4,  0,
        7,  3,  5,  6,  5,  4])

In [11]:
print(np.mean(uni))
print(np.var(uni))

5.0
6.45

In [12]:
from random import *

In [17]:
muestra=sample(Universo,9)
print(muestra)

[6, 7, 5, 6, 5, 4, 3, 5, 0]

In [21]:
muestra=pd.DataFrame(muestra)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

0    3.802469
dtype: float64

In [22]:
print(np.mean(muestra))
print(np.var(muestra))

0    4.555556
dtype: float64
0    3.802469
dtype: float64

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [23]:
A=pd.DataFrame(Universo)

In [27]:
inci=A[A>6]

In [28]:
inci

       0
0    NaN
1    7.0
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8   10.0
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18  10.0
19   NaN
20   NaN
21   7.0
22   NaN
23  10.0
24   NaN
25   NaN
26   NaN
27   7.0
28   NaN
29  10.0
30   7.0
31   NaN
32   NaN
33   NaN
34   7.0
35   NaN
36   NaN
37   NaN
38   NaN
39   NaN

In [30]:
inci.describe()

               0
count   9.000000
mean    8.333333
std     1.581139
min     7.000000
25%     7.000000
50%     7.000000
75%    10.000000
max    10.000000